<!-- start custom head snippets -->

<style> 
    ::-webkit-scrollbar{width: 14px;}
    ::-webkit-scrollbar-track {background-color:#1e1f22;} /* 둥글게 하고 싶으면 border-radius: 16px; */
    ::-webkit-scrollbar-thumb {background-color:#3e3e3e;} /* 둥글게 하고 싶으면 border-radius: 16px; */
    ::-webkit-scrollbar-thumb:hover {background: #4f4f4f;}
    ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment 
    /* {
        width:16px;height:16px;background:transparent;
    } */
</style>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
